html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 1rem 0;
}

body {
  padding: 0 1rem;
}

h1 {
  /* font-family: "Anton", sans-serif; */
}

.pizza-title {
  color: rgb(40, 71, 40);
}
